@charset "UTF-8";

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .projeto-calculadora  {
        width: 90vw;
    }

    div.imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    div.calculadora {
        float: right;
        width: 60%;
    }
}

/* Celular: de 600px até 768px */
@media screen and (max-width: 768px) {
    body {
        background: #60BF81;
    }

    .projeto-calculadora {
        width: 300px;
        height: 530px;
    }

    div.imagem {
        display: block;
        width: 100%;
        height: 140px;
        background-position: center center;
    }

    div.calculadora {
        display: block;
        width: 100%;
    }

    .calculadora > h1 {
        display: none;
    }
    
    .campo input[type="text"] {
        width: 60%;
    } 
}