@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* paleta de cores 
#60BF81, #347355 */

* {
    margin: 0px;
    padding: 0px;
}

h1, p, label {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

hr {
    width: 30%;
    margin: 5px auto;
    border: none;
    border: 2px solid #F24F13;  
    border-radius: 4px;
}

body {
    background-image: linear-gradient(to top, #60BF81, #347355);
}

body, html {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.projeto-calculadora {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 470px;
    background: white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.349);
    transform: translate(-50%, -50%);
}

.imagem {
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/calculadora.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.calculadora {
    float: left;
    width: 50%;
    text-align: center;
}

.calculadora > h1 {
    padding-top: 10px;
    font-size: 1.7em;
    color: rgb(241, 0, 0);
}

div.campo label {
    display: block;
    margin: 5px 0px;
	color: #024059;
	font-size: 1em;
}

.campo input[type="number"] {
	width: 40%;
    margin-bottom: 5px;
    padding: 8px;
    border: 2px solid #127369;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

select {
    margin: 14px 0px;
    padding: 5px;
    background-color: #e9e8e8;
    color: #414040;
    cursor: pointer;
    outline: none;
}

button {
    display: block;
    width: 150px;
    height: 40px;
    margin: 5px auto;
    background-color: #D92525;
    color: white;
    font-size: 1.04em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: #03A64A;
}

div.res {
    padding-top: 5px;
    text-align: center;
    font-size: 1em;
}
